<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>JavaScript Temperature Converter</title>
     <!--link href="assets/css/normalize.css" rel="stylesheet" type="text/css"-->
     <link href="assets/css/global.css" rel="stylesheet" type="text/css">
     <script type="text/javascript" src="dist/temperatura.js"></script>
      <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="js/materialize.min.js"></script>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="login-box.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo right">
                        <%- message %>
                    </a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                         <li><a href="/inicio">Inicio</a></li>
                        </li>
                        <li><a href="/registro">Registrarse</a>
                        </li>
                        <li><a href="/loguearse">Login</a>
                        </li>
                        <li><a href="/actualiza">Actualizar Contraseña</a>
                        </li>
                        <li><a href="/libro">Libro</a>
                        </li>
                        <li>
                         <a href="/conversor"> Ir al Comversor </a>
                        </li>
                        <li><a href="/logout">Cerrar Sesion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <br />
        <br />
        <div class="container-fluid">
  
  
   <div class="row ">
          <div class="col s3"></div>
     <div class="col s6">
    <h1>Temperature Converter</h1>
    <table>
      <tr>
        <th>Enter  Temperature (examples: 32F, 45C, -2.5f):</th>
        <td><input id="original" autofocus onchange="calculate();" placeholder="32F" size="50"></td>
      </tr>
      <tr>
        <th>Converted Temperature:</th>
        <td><span class="output" id="converted"></span></td>
      </tr>
    </table>
    </div>
   <div class="col s3"></div>
  </div>
  
  </body>
</html>